html[data-region='vn'] .thai_consent .card__title { color: #252525; }
html[data-region='vn'] .thai_consent .card__game { color: #676767; }
html[data-region='vn'] .thai_consent .card__event { color: #969393; }
html[data-region='vn'] .thai_consent .card__content { color: #252525; }
html[data-region='vn'] .thai_consent .card__buttons .btn.btn--reject { color: #ff0000; }
html[data-region='vn'] .thai_consent .card__buttons .btn.btn--accept { color: #ffffff; }
html[data-region='vn'] .rules .modal-title { color: #d1bd95ff; }
html[data-region='vn'] .rules__content { color: #A3A3BEFF; }
html[data-region='vn'] .scrollbar::-webkit-scrollbar-thumb { background-color: #0f12264D; }
html[data-region='vn'] .top-bar__hero-type .dropdown__selected > span { color: #a3a3beff; }
html[data-region='vn'] .top-bar__hero-type.dropdown--active .dropdown__selected > span { color: #ffecb2ff; }
html[data-region='vn'] .top-bar__game-mode .dropdown__selected > span { color: #a3a3beff; }
html[data-region='vn'] .top-bar__game-mode .dropdown--active .dropdown__selected > span { color: #ffecb2ff; }
html[data-region='vn'] .filter-option .filter-option__option { color: #a3a3beff; }
html[data-region='vn'] .filter-option.filter-option--active .filter-option__option { color: #ffecb2ff; }
html[data-region='vn'] .top-bar .top-bar__top-hero { color: #a3a3beff; }
html[data-region='vn'] .top-bar__hero-type .dropdown-option--no-icon span, .top-bar__hero-type .dropdown-option span { color: #a3a3beff; }
html[data-region='vn'] .top-bar__hero-type .dropdown-option--no-icon.dropdown-option--active span, .top-bar__hero-type .dropdown-option.dropdown-option--active span { color: #ffecb2ff; }
html[data-region='vn'] .top-bar__game-mode .dropdown-option--no-icon span, .top-bar__game-mode .dropdown-option span { color: #a3a3beff; }
html[data-region='vn'] .top-bar__game-mode .dropdown-option--no-icon.dropdown-option--active span, .top-bar__game-mode .dropdown-option.dropdown-option--active span { color: #ffecb2ff; }
html[data-region='vn'] .hero-info .hero-info__name { color: #c6d0ffff; }
html[data-region='vn'] .hero-info .hero-info__type { color: #7982bcff; }
html[data-region='vn'] .rate .rate__text { color: #c6d0ffff; }
html[data-region='vn'] .rate.rate--selected .rate__text { color: #ffe489ff; }
html[data-region='vn'] .rate-wrapper .rate-wrapper__empty { color: #7b82b8ff; }
html[data-region='vn'] .rate .rate--empty { color: #c6d0ffff; }
html[data-region='vn']  { background-color: #000000CC; }
html[data-region='vn']  { color: #ffffffff; }
html[data-region='vn'] .blank .blank__title { color: #ffffcbff; }
html[data-region='vn'] .blank p span { color: #707c9bff; }
